*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.contacts{
display: flex;
text-align: right;
padding: 10px;
background-color: #FEFAE0;
}

.navigation{
display: flex;
align-items: center;
padding: 20px;
background-color: #2f603c;
}

.contcts{
    flex: 1;
    text-align: right;
}

.contcts li{
    display: inline-block;
    margin-right: 10px;
    color: #256035;
}


.contcts ul{
    display: inline-block;
    list-style-type: none;
}

.logo img {
    max-width: 100%;
}

.navbar {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}

.left-nav, .right-nav {
    display: flex; 
    list-style-type: none;
}

.left-nav li {
    margin-right: 50px;
}

.right-nav li {
    margin-left: 50px; 
}

.cn{
    color: #F6E6CB;
}

a{
    text-decoration: none;
    font-size: 27px;
    color: #F6E6CB;
    transition: color 0.3s;
}





.search-bar {
    display: flex;
    align-items: right;
    margin-left: 80%;
}

.search-bar input {
    padding: 5px;
    font-size: 12px;
    border: 1px solid #256035;
    border-radius: 4px;
    background-color: #FEFAE0;
}

.search-bar button {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #256035;
    color: #F6E6CB;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px; 
}

.search-bar button:hover {
    background-color: #F6E6CB; 
    color: #256035; 
}